.add_carts {
    background-color: rgb(47, 0, 255);
    color: white;
    display: inline;
    padding: 10px 15px;
    font-size: 20px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 50px;
    right: 50px;
    float: right;
    border-radius: 5px;
    /* box-shadow: 4px 4px 6px rgb(50, 50, 50); */
    cursor: pointer;
}
